@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
@if (User.IsInRole("Admin"))
{
    <div class="HomeStock">

        <a href="@Url.Action("Index", "Products")">

        </a>
        <a href="@Url.Action("Index", "Products")">Products</a>


    </div>


<div class="HomeStock">

    <a href="@Url.Action("Index", "Stocks")">

    </a>
    <a href="@Url.Action("Index", "Stocks")">Stock List</a>


</div>
}

<div class="HomeShop">

    <a href="@Url.Action("Index","Shop")">

    </a>
    <a href="@Url.Action("Index","Shop")">Shop</a>

</div>

<div class="HomeCart">

    <a href="@Url.Action("Index","Cart")">

    </a>
    <a href="@Url.Action("Index","Cart")">Your Cart</a>
</div>

<div class="HomeOrder">

    <a href="@Url.Action("Index","Orders")">

    </a>
    <a href="@Url.Action("Index","Orders")">Current Orders</a>
</div>
