@model IEnumerable<SportsWear2.Models.Stock>

@{
    ViewData["Title"] = "Shop";
}

<h1><img src="~/css/images/Shop_Image.png" alt="Shop Image"> Shop</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Add to Cart", "Add", new { code = item.ProductID }) |
                @Html.ActionLink("Remove from Cart", "Edit", new { code = item.ProductID }) |
            </td>
        </tr>
}
    </tbody>
</table>

<h2>Total Price @ViewBag.TotalPrice</h2>
<p>
    <a asp-controller="Cart" asp-action="Index">Go to Cart</a>
</p>
